

h1 {
    text-align: center;
}



body{
    background-color: #f5f5f5;
}

canvas  {
  
    padding:0;

    margin: auto;
    display: block;
    
}

h2 {
    padding:0;
    margin: auto;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    display: inline-flex;
   
    
}
#score {
    margin-left: 48%;
    margin-bottom: 50px;
}